html {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
  scroll-behavior: smooth;

}

nav {
    background-color: #2E81DF;
    padding-left: 7px ;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
}

.nav-links a{
  text-decoration: none;
  color: white;
  margin: 0 20px;
  padding: 10px;
  font-size: 20px;

}
.search-container {
  display: flex;
  align-items: center;
}

.search-input {
    border-radius: 7px;
    padding: 4px;
    border: none;

}

.nav-links a:hover {
    text-decoration: underline;
    color: black;
}

.about-us{
  border-left: 2px solid black;
  padding-left: 7px;
  margin-left: 15px;
  margin-top: 20px;
  color: #a49e9e;
}

 .container {
    padding: 10px 0px 0px 0px;
    color: white;
    border-radius: 20px;
    border: 1px solid #ccc;
    height: auto;
    margin-top: 10px;
}

 .welcome {
    
    color: black;
    text-align: center;
    margin-top: 10px;
    font-size: 40px;
    font-weight: 90;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  }

  .vision{
    background-color: rgb(236, 72, 72);
    border-radius: 3px;
    font-weight: 400;
    box-shadow: 0 7px 6px 6px rgba(0, 0, 0, 0.1); 

  }

  .vision h1{
    padding-left: 10px;

  }

  .vision p{
    font-size: 22px;
    padding: 10px;
  }
   
  .mission{
   background-color: rgb(46, 129, 223);
   border-radius: 5px;
    padding-bottom: 5px;
  }

  .mission h1{
    padding-left: 10px;

  }

  .mission p{
    font-size: 22px;
    padding: 10px;
  }
  .mission li{
    font-size: 20px;
  }

  .values{
    background-color: rgb(244, 244, 244);
    border-radius: 5px;
    color: rgb(70, 67, 67);
    border: 1px solid black;
    margin-top: 25px;
  }

  .values h1{
    padding-left: 10px;

  }

  .values p{
    font-size: 22px;
    padding: 10px;
  }

  .history-container{
    margin-top: 50px;
  }

  .history_title{
    background-color: rgb(46, 129, 223);
    text-align: center;
    padding: 10px;
    border-radius: 5px;
    margin-bottom: 0;
  }

  .history{
    border: 1px solid black;
    border-radius: 0px 0px 7px 7px;
    margin: 0px 60px 0px 60px;
    padding-top: 20px;
  }

  .history p{
    color:  rgb(70, 67, 67);
    padding: 0 10px 0 10px;
    font-size: 20px;
    line-height: 1.8;
  }

  .formation-title h2{
    background-color:  rgb(236, 72, 72);
    margin-top: 20px;
    text-align: center;
    padding: 10px;

  }
  .groups h2{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(46, 129, 223);
    padding: 10px;
  }

  .committee-title h2{
    background-color:  rgb(236, 72, 72);
    margin-top: 40px;
    text-align: center;
    padding: 10px;
  }

  .committee h2{
    margin-top: 20px;
    text-align: center;
    background-color: rgb(46, 129, 223);
    padding: 10px;
  }

  .committee li{
    color: black;
    font-size: 20px;
    line-height: 1.8;
  }





.back-to-top{
  float: right;
  padding-right: 10px;
  /* margin-top: 20px; */
}

.back-to-top p{
  font-size: 15px;
}




.profile-container{
    /* position: relative; */
    margin: 40px ;
    padding: 10px 65px 0px 65px;
    color: white;
    border-radius: 20px;
    border: 1px solid #b81313;
    height: auto;
    top: 37em;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.profile-container h2{
    padding-right: 4px;
    padding-bottom: 10px;
    padding-left: 4px;
    padding-top: 4px;
    margin-top: -25px;
    margin-bottom: 25px;
    z-index: 7;
    background-color: #2E81DF;
    width: fit-content;
    border-radius: 5px;
    font-size: 35px;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
}



.row {
  display: flex;
  flex-wrap: wrap;
  margin: 40px -16px;
  color: black;
}
  
  .row,
  .row > .column {
    padding: 5px;
  }
  
 
  .column {
    display: flex;
    flex-wrap: wrap;
    float: left;
    width: 22.50%;
    display: none; 
    border-radius: 7px;
    cursor: pointer;
  }
  
  
  
  .row:after {
    content: "";
    display: table;
    clear: both;
  }

  
  .content {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    color: black;
  }

  .content:hover{
    transition: translateY(-0.7%);
  }




  .show {
    display: block;
  }
  
  .btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: white;
    cursor: pointer;
    font-size: 13px;
  }
  
  .btn:hover {
    background-color: #ddd;
  }
  
  .btn.active {
    background-color: #666;
    color: white;
  }



footer {
    text-align: center;
    margin-top: 50px;
}

@media (max-width: 700px) {
  .search-container {
    margin-top: 10px; 
    width: 100%;
}

  .search-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  .row{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    /* align-items: center; */
  }
  .content {
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
    width: 250%;
    margin-left: 85px;
  }

  .btn-container{
    display: flex;
    flex-wrap: wrap;
    border-bottom: 2px solid black;
    border-top: 1px solid black;
  }


.profile-container{
  /* position: relative; */
  margin: 40px 10px 0px 10px ;
  padding: 10px 65px 0px 65px;
  color: white;
  border-radius: 20px;
  border: 1px solid #b81313;
  height: auto;
  top: 37em;
  box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
}
}


@media (max-width: 830px) {
  .search-container {
    margin-top: 10px; 
    width: 100%;
}

  .search-input {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 10px;
}
  .nav-links {
      flex-direction: column;
  }

  .nav-links a {
    margin: 0 10px;
}

  .search-container {
      margin-top: 10px;
      text-align: center;
  }
  nav {
    flex-direction: column;
    align-items: center;
}
}

@media (max-width: 480px) {

  .search-container {
    margin-top: 10px; 
    width: 100%;
}
  nav {
      flex-direction: column;
      align-items: center;
  }

  .welcome{
    font-size: 25px;
  }

  .content{
    margin-left: 5px;
    width: 350%;
    background-color: rgb(239, 239, 239);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
    transition: 0.2s;
  }

  .profile-container h2{
   
    padding: 10px;
    margin-top: -25px;
    margin-bottom: 25px;
    z-index: 7;
    background-color: #2E81DF;
    border-radius: 5px;
    font-size: 20px;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
}

.history{
  border: 1px solid black;
  border-radius: 0px 0px 7px 7px;
  margin: 0px 10px 0px 10px;
  padding-top: 20px;
  padding-right: 5px;
  padding-left: 5px;
}
}
