
html {
  height: 100%;
  margin: 0;
  font-family: 'Times New Roman', Times, serif;
  box-sizing: border-box;
}

nav {
    background-color: #2E81DF;
    padding-left: 7px ;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    border-radius: 7px;
    padding: 4px;
    border: none;

}


nav a {
    text-decoration: none;
    font-size: 20px;
    margin: 0 20px;
    color: white;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

.container {
   
    padding: 50px;
    padding-top: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    border-bottom: 0px;
  }


  .lower-container{
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 50px;
    
  }

  .latest-news{
    border-left: 2px solid black;
    padding-left: 8px;
    color: #a49e9e;

  }

  .lower-flex{
    display: flex;
    flex-direction: column ;
    /* flex-wrap: wrap; */
    
  }


.upcoming-events h2{
    border-left: 2px solid black;
    padding-left: 5px;
    
  }

  .lower-flex2{
    flex: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr ;
    grid-gap: 2px;
    border-radius: 5px;
    border-left: 0;
    
  }

  
  .lower-flex2-grid1{
    border-radius: 5px;
    margin-bottom: 20px;

  }

  .lower-flex2-img{
    width: 350px;
  }

  .lower-flex2-img img{
    height: 350px;
    width: 350px;
    border-radius: 5px;
  }

  footer {
    text-align: center;
    margin-top: 20px;
}

.show-more{
  margin-top: -20px;
  margin-bottom: 30px;
}

.show-more p {
  float: right;
  color: red;
  font-size: 15px;
  cursor: pointer;
}


.show-more p:hover{
  color: blue;
}

.show-more p::after {
  content: '→'; 
  margin-left: 8px; 
  font-weight: bold; 
}


@media (max-width:1150px){

  .search-container {
    margin-top: 10px; 
    width: 100%;
}

  
   .lower-flex2{
     flex: 50%;
     display: grid;
     grid-template-columns: 1fr 1fr 1fr ;
     grid-gap: 5px;
     border-radius: 5px;
     border-left: 0;
   }
 
   
 
   
 
 }
 

 @media (max-width: 1250px) {
   nav {
       flex-direction: column;
       align-items: center;
   }
 
   nav a {
       margin: 5px 0;
       font-size: 14px;
   }
 
   .search-container {
    margin-top: 10px; 
    width: 100%;
}
 
   .search-input {
     width: 100%;
     margin-top: 10px;
     margin-bottom: 10px;
 }
 
   .container {
       padding: 20px;
   }

   .lower-container{
    padding-left: 70px;
   }
 
   .upper-flex {
       flex-direction: column;
   }
 
 
 .lower-flex2-img p{
   font-size: 13px;
 }
 
   
 
   .lower-flex2 {
       grid-template-columns: 1fr 1fr;
   }
 
   .lower-flex2-img img {
       width: 95%;
       height: 95%;
   }
   
   .lower-flex2-img{
    width: 250px;
  }

  .show-more p {
    float: left;
    color: red;
    font-size: 15px;
    cursor: pointer;
  }
 
   footer p{
     font-size: 13px;
   }
 }


 @media (max-width: 630px){


  .search-container {
    margin-top: 10px; 
    width: 100%;
}
 

.lower-flex2-grid1{
  margin-bottom: 60px;
}



  
.lower-flex2-img p{
  font-size: 13px;
}

.lower-flex2-img img {
  width: 80%;
  height: 60%;
}

.lower-flex2-img{
 width: 190px;
}



  .lower-flex2 {
      grid-template-columns: 1fr 1fr;
  }


  footer p{
    font-size: 13px;
  }

  .show-more p {
   float: left;
   color: red;
   font-size: 15px;
   cursor: pointer;
 }
 }
 
 
 /* Media query for screens smaller than 480px */
 @media (max-width: 480px) {

  .search-container {
    margin-top: 10px; 
    width: 100%;
}


 
 
   .lower-flex2 {
       grid-template-columns: 1fr;
   }
 
   .lower-flex1 {
       grid-template-columns: 1fr;
   }
 
   footer p{
     font-size: 13px;
   }

   .show-more p {
    float: left;
    color: red;
    font-size: 15px;
    cursor: pointer;
  }
 }
 

 