/* html{
    height: 100%;
}
body{
    background-color: rgb(24, 24, 27);
    background-image: url("images/PRESBY.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.5;
}
.container{
    margin-left: auto;
    margin-right: auto;
    width: 1024px;
}

header{
    text-align: center;
}

.PCG-logo{
    height: 60px;
}

.KNUST-logo{
    height: 70px;
}

nav{
    background-color: #2E81DF;
    height: 37px;
    /* width: 1020px; */
    /* text-align: center;
    margin: auto;
    padding-top: 14px;
} */

/* nav a {
    text-decoration: none;
    font-size: 12px;
    padding-left: 50px;
    padding-right: 50px
}

main{
    height: 500px;
    
}
section{
    border-radius: 5px;    
    border: 7px ;
    margin: 15px;
    height: fit-content;
    background-color: white;
    padding: 20px;
    
}

section h5{
    margin-left: 5px;
}

footer {
    color: white;

}

footer p {
    text-align: center;
} */ 

html {
    height: 100%;
    margin: 0;
    font-family: Arial, sans-serif;
    box-sizing: border-box;
    font-size: 70.5%;
}

body {
    background-image: url("images/PRESBY.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    min-height: 100vh;
}

.background-overlay {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    /* background-color: white; Adjust the alpha value to set the opacity */
    z-index: -5;
}

.container {
    position: relative;
    max-width: 1024px;
    margin: 0 auto;
    padding-right: 65px;
    /* padding-left: -10px; */
    color: white;
}

header {
    text-align: center;
    position: relative;
}

.logo-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    /* margin-bottom: 3px; */
    padding: 15px;
    /* color: black; */
}

.logo {
    height: 60px;
}

.PCG-logo {
    height: 90px;
}

.KNUST-logo {
    height: 100px;
}
header h2{
    font-family: 'Times New Roman', Times, serif;
    font-size: 30px;
    color: rgb(47, 35, 35);
    margin-bottom: 2px;
}

header h5{
    color: #dd3113;
    font-family: "Kaushan Script";
    font-size: 30px;
    margin-bottom: 10px;
    margin-top: 5px;
    align-items: center;
    align-content: center;
}
/* nav {
    background-color: #2E81DF;
    padding: 10px 0;
    text-align: center;
} */
nav {
    background-color: #2E81DF;
    padding-left: 7px ;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    border-radius: 7px;
    padding: 4px;
    border: none;

}

/* .search-button{
    padding-left: 8px;
    padding-right: 18px;
} */
nav a {
    text-decoration: none;
    font-size: 15px;
    margin: 0 20px;
    color: white;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

main {
    margin-top: 20px;
}

section {
    background-color: white;
    color: black;
    padding: 20px;
    border-radius: 5px;
}


section h5 {
    padding-left: 20px;
    border-left: solid black;
    font-size: 20px;
}

.grid {
    display: grid;
    /* width: 50em; */
    width: 80%;
    margin: 0 auto;
    grid-gap: 2rem;
    grid-template-columns: repeat(auto-fit, minmax(20rem, 1fr));
    align-items: start;
}


.grid-item{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
}

.grid-item:hover{
    transition: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card-img {
    display: block;
    width: 90%;
    height: 20rem;
    object-fit: cover;
}

.card-content{
    padding: 1rem;
}

.card-header{
    font-size: 2rem;
    font-weight: 100;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;

}

.scroll {
    position: absolute;
    top: 0;
    right: 0;
    width: 100px; 
    height: auto;
    z-index: 6; 
    margin-top: 240px;
    padding-left: 50px;
}

.scroll img {
    width: 250%;
    height: 400px;
}

.scroll-button{
    border-radius: 9px;
    background-color: #f1f4f7;
    color: rgb(65, 41, 223);
    border: none;
    box-shadow: 0 3px 6px 6px rgba(0, 0, 0, 0.5); 
    padding: 2px 2px 2px 12px;
    cursor: pointer;
    position: absolute;
    top: 300px;
    left: 20%;
    transform: translateX(70%);
    width: fit-content;
    /* font-size: 15px; */
}

.scroll-button:hover{
    background-color: rgb(67, 67, 238);
    color: #fff;
}

.leftarrow{
    height: 20px;
    width: 20px;
    position: relative;
    left: 50px;
    top: 130px;
    cursor: pointer;
}

.rightarrow{
    height: 20px;
    width: 20px;
    position: relative;
    left: 80em;
    bottom: 250px;
    cursor: pointer;
}

.bleftarrow{
    height: 20px;
    width: 20px;
    position: relative;
    left: 30px;
    top: 210px;
    cursor: pointer;
}

.news-container{
    /* position: absolute; */
    /* display: flex; */

    margin: 40px ;
    padding: 10px 65px 250px 65px;
    color: white;
    border-radius: 20px;
    border: 1px solid #194ede;
    height: auto;
    top: 37em;
    box-shadow: 0 8px 8px 8px rgba(0, 0, 0, 0.2);
    z-index: -3;
    
}

.news-container h3{
    color: black;
    font-size: 30px;
    margin-top: -25px ;
    background-color: #2E81DF;
    height: 40px;
    border-radius: 10px;
    color: white;
    font-family: 'Times New Roman', Times, serif;
    position: absolute;
}

.news-container h2{
    font-size: 23px;
    font-weight: 100;
    border-left: 2px solid black;
    margin-top: 40px;
    color: black;
    padding-left: 5px;

}
.birthdays-container{
    display: flex;
    color: black;
}

.grid-item1{
    background-color: #fff;
    border-radius: 0.4rem;
    overflow: hidden;
    box-shadow: 0 3rem 6rem rgba(0, 0, 0, 0.1);
    cursor: pointer;
    transition: 0.2s;
    display: block;
    padding: 0.3rem;
    
}

.grid-item1:hover{
    transition: translateY(-0.5%);
    box-shadow: 0 4rem 8rem rgba(0, 0, 0, 0.5);
}

.card{
    width: 220px;
    /* padding: 7px; */
}

.card-img {
    display: block;
    width: 210px;
    height: 20rem;
    object-fit: cover;
}

.card-content{
    padding: 0.3rem;
}

.card-header{
    font-size: 2rem;
    font-weight: 100;
    color: #0d0d0d;
    margin-bottom: 1.5rem;
}

.card-text{
    font-size: 1.2rem;
    letter-spacing: 0.1rem;
    line-height: 1.7;
    color: #3d3d3d;
    margin-bottom: 2.5rem;

}



.next-service h1{
    text-decoration: dashed;
    font-size: 3rem;
    font-weight: 200;
    background-color: #5a5c5f;
    border-top: 4px solid red;
    width: 320px;
    margin-bottom: 2px;
    margin-top: 1px;
    padding-left: 5px;
    z-index: -5;

}

.next-service p{
    color: black;
}
.theme{
    border: #0d0d0d;
    border-top: 3px solid black;
    border-bottom: 1px solid black;

    padding-left: 5px;
    margin-top: 60px;
}

.theme p {
    font-size: 20px;
    font-family: "poppins";
    padding: 2px;
    
}

.theme h2{
    margin-top: 20px;
    margin-bottom: 2px;
}

.next-service h4{
    color: black;
    font-size: 22px;
    font-weight: 80;
    padding-bottom: 0px;
}




.church-activities h1{
    text-decoration: dashed;
    font-size: 3rem;
    font-weight: 200;
    background-color: #295aa3;
    border-top: 4px solid red;
    width: 320px;
    margin-bottom: 2px;
    margin-top: 1px;
    padding-left: 5px;
    z-index: -5;

}

.church-activities p{
    color: black;
}
.theme1{
    border: #0d0d0d;
    border-top: 3px solid black;
    padding-left: 5px;
    margin-top: 60px;
}

.theme1 p {
    font-size: 20px;
    font-family: "poppins";
    padding: 2px;
    
}

.theme1 h2{
    margin-top: 20px;
    margin-bottom: 2px;
    font-weight: 100;
    font-family: 'Times New Roman', Times, serif;
}

.church-activities h4{
    color: rgb(0, 0, 0);
    font-size: 22px;
    font-weight: 80;
    padding-bottom: 0px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
    width: 80%;
    border-top: 1px solid #1737c2;
    border-radius: 6px;
    margin: 0 auto;
    margin-top: 12em;
  }
  
  th{
    text-align: left;
    padding: 16px;
    color: black;
    background-color: white;
    font-size: 25px;
  }
  
  td {
    text-align: left;
    padding: 16px;
    font-size: 20px;

  }
  
  tr:nth-child(even) {
    background-color: #204cbb;
  }

  tr:nth-child(odd){ 
    color: #00040d;
  }

/* .birthdays-container img{
    height: 150px;
    width: 150px;
} */

/* .birthday-img-card{
    border-radius: 2px;
    
} */

/* .birthdays-container img{
    float: left;
} */


/* 
.scroll-text {
    position: absolute;
    color: black;
    font-size: 12px;
    z-index: 1; 
} */
/* .scroll{
    padding-right: 50px;
    margin-right: 350px;
    float: right;
    align-items: right;
    align-content: flex-end;
  
}
.scroll img{
    width: 30%;
    height: 100%;
} */

footer {
    text-align: center;
    margin-top: 20px;
    /* padding: 20px; */
}


@media (max-width: 768px) {
    .logo-container {
        flex-direction: column;
    }

    nav a {
        display: block;
        margin: 10px 0;
    }

    .post-container {
        flex-direction: column;
        align-items: center;
    }
}

@media only screen and (max-width: 60em) {
    body {
        padding: 3rem;
    }

    .grip{
        grid-gap: 3rem;
    }
}
