

nav {
    background-color: #2E81DF;
    padding-left: 7px ;
    padding-right: 9px;
    display: flex;
    justify-content: space-between;
    border-radius: 10px;
    margin-top: 20px;
}

.search-container {
    display: flex;
    align-items: center;
}

.search-input {
    border-radius: 7px;
    padding: 4px;
    border: none;

}


nav a {
    text-decoration: none;
    font-size: 15px;
    margin: 0 20px;
    color: white;
    padding: 10px;
}

nav a:hover {
    text-decoration: underline;
    color: black;
}

.container {
   
    padding: 50px;
    padding-top: 25px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
    border-bottom: 0px;
  }

  .upper-flex-container{
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 0px;
  }

  .upper-flex{
    display: flex;
    flex: 50%;
  }

  .sermon{
    border-radius: 5px;
    margin-top: 10px;
    height: 470px;
    margin-right: 10px;
  }
  

  .sermon-image img{
    height: 400px;
    width: 570px;
    border-radius: 10px;
  }

  .other-posts{
    flex: 50%;
    height: 400px;
  }
  .other-posts-flex{
    display: grid;
    grid-template-rows: repeat(3, 170px);
    margin-left: 10px;
    grid-gap: 5px;
  }
  .first-row{
    display: flex;
  }

  .first-row-image img{
    height: 170px;
    width: 300px;
    border-radius: 5px;
  }

  .second-row{
    display: flex;
  }

  .third-row{
    display: flex;
    
  }

  .lower-container{
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 50px;
    
  }

  .latest-news{
    border-left: 2px solid black;
    padding-left: 5px;
  }

  .lower-flex{
    display: flex;
    flex-direction: column ;
    
  }

  .lower-flex1{
    flex: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 15px;
    border-radius: 5px;
    margin-bottom: 50px;
  }

  .lower-flex1-grid1{
    border-radius: 5px;
    margin-bottom: 20px;

  }
  .lower-flex1-grid1 p{
    position: relative;
    top: 8;
  }

  .lower-flex1-grid2{
    border-radius: 5px;
    margin-bottom: 20px;

  }

  .lower-flex1-grid3{
    border-radius: 5px;
    margin-bottom: 20px;

  }

  .lower-flex1-img img{
    height: 220px;
    width: 360px;
    border-radius: 5px;
    z-index: -2;
  }

.upcoming-events h2{
    border-left: 2px solid black;
    padding-left: 5px;
    
  }

  .lower-flex2{
    flex: 50%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 5px;
    border-radius: 5px;
    border-left: 0;
  }

  
  .lower-flex2-grid1{
    border-radius: 5px;
    margin-bottom: 20px;

  }

  .lower-flex2-img img{
    height: 220px;
    width: 300px;
    border-radius: 5px;
  }

  footer {
    text-align: center;
    margin-top: 20px;
}
