.navbar {
    padding: 10px;
    margin-top: 5px;
    margin-bottom: 100px;
    border-bottom: 1px solid #ccc;
    border-radius: 20px;
}

.navbar-list {
    display: flex;
    justify-content: space-around;
    list-style: none;
}

.navbar-list li a {
    text-decoration: none;
    padding: 12px 10px;
    background-color: white;
    cursor: pointer;
    font-size: 17px;
    color: black;
    transition: background-color 0.3s, color 0.3s;
}

.navbar-list li a:hover {
    background-color: #ddd; 
    border-radius: 5px;

}

.navbar-list li a.active {
    background-color: #666; 
    color: white; 
    border-radius: 5px;
}

.page {
    padding: 20px;
}

table {
    width: 100%;
    border-collapse: collapse;
    margin: 20px 0;
}

table, th {
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    border-radius: 4px;
}

td{
    border: 1px solid #ddd;
    padding: 12px;
    text-align: left;
    border-radius: 4px;
    text-align: justify;
}


th {
    background-color: #f4f4f4;
    border-bottom: 2px solid #ddd;
}

td img {
    width: 50px;
    height: auto;
    border-radius: 4px;
}

.add-button {
    padding: 10px 20px;
    margin-bottom: 10px;
    background-color: #0684ae;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.add-button:hover {
    background-color: #008CBA;
}

button {
   
    padding: 5px 10px 5px;
    margin: 0 5px;
    background-color: #008CBA;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

button:hover {
    background-color: #007bb5;
}

button:focus {
    outline: none;
}

.table-image{
    width: 250px;
    height: 100px;
    object-fit: cover;
}

.table-image {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 5px;
}

.additional-images-section {
    display: flex;
    flex-wrap: wrap;
}

.table-additional-image {
    width: 50px;
    height: 50px;
    object-fit: cover;
    margin-right: 5px;
    margin-top: 5px;
}


    
  .home-page{
    padding: 50px;
    border: 1px solid #ccc;
    border-radius: 20px;
    margin-top: 20px;
  }

  .home-page h1{
    border-left: 1px solid black;
    padding-left: 3px;
  }

  .home-page h2{
    text-align: center;
    margin-top: 50px;
  }