<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gallery</title>
    <Link rel="stylesheet" href="gallery.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">
</head>
<body>
    <nav>
        <a href="homePage.html">Home</a>
        <a href="aboutUs.html">About Us</a>
        <a href="news.html">News</a>
        <a href="gallery.html">Gallery</a>
        <a href="ministries.html">Ministries</a>
        <a href="contactUs.html">Contact Us</a>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
        </div>
    </nav>

    <div class="container">
        <div class="lower-container">
           <div class="latest-news">
            <h2>Annual Revival </h2>
           </div> 
            <div class="lower-flex">
                <div class="lower-flex2">
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Rev Baah Nartey.JPG">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Qui quam rerum ea officia ex rem consectetur sunt, nam quidem, hic asperiores laborum doloribus eos cum ipsa fugit temporibus voluptatum ipsam.lorem5</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Rev Ansah.jpg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Rev JET.JPG">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Rev Odame.JPG">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                </div>

                <div class="show-more ">
                    <p>show more</p>
                </div>

                <div class="upcoming-events">
                    <h2>Upcoming Events</h2>
                </div>

                <div class="lower-flex2">
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>hello</p>
                        </div>
                    </div>
                </div>
                <div class="show-more ">
                    <p>show more</p>
                </div>
            </div>
        </div>
       
    </div>
</body>
<footer>
    <p>Copyright © 2024 PCG, CHRIST CONG. KNUST. All rights reserved. Developed by</p>
</footer>
</html>