<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>News</title>
    <Link rel="stylesheet" href="news.css">
    <link rel="icon" type="image/x-icon" href="images/favicon.ico">

</head>
<body>
    
    <nav>
        <a href="homePage.html">Home</a>
        <a href="aboutUs.html">About Us</a>
        <a href="news.html">News</a>
        <a href="gallery.html">Gallery</a>
        <a href="ministries.html">Ministries</a>
        <a href="contactUs.html">Contact Us</a>
        <div class="search-container">
            <input type="text" placeholder="Search..." class="search-input">
        </div>
    </nav>
    <div class="container">
        <div class="upper-flex-container">
           <div class="upper-flex">
                <div class="sermon">
                    <div class="sermon-heading">
                        <h2>Theme: LOYALTY</h2>
                        <p>Sermon by | Rev. Kwarteng Sarpong</p>
                    </div>
                    <div class="sermon-image">
                        <img src="images/Rev Ansah.jpg">
                    </div>
                </div>
                <div class="other-posts">
                    <div class="other-posts-flex">
                        <div class="first-row">
                            <div class="details">
                                <h5>Today marks the 15th year in service as Prof. Ansah joined the Christ cong. Presbyterian church in the year 2010</h5>
                                <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vero impedit quos!</p> 
                            </div>
                            <div class="first-row-image">
                                <img src="images/Rev Ansah.jpg">
                            </div>
                        </div>
                        <div class="second-row">
                            <div class="details">
                                    <h5>Today marks the 15th year in service as Prof. Ansah joined the Christ cong. Presbyterian church in the year 2010</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vero impedit quos!</p> 
                            </div>
                            <div class="second-row-image">
                                <img src="images/Rev Odame.JPG">
                            </div>
                        </div>
                        <div class="third-row">
                            <div class="details">
                                    <h5>Today marks the 15th year in service as Prof. Ansah joined the Christ cong. Presbyterian church in the year 2010</h5>
                                    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Atque vero impedit quos!</p> 
                            </div>
                            <div class="third-row-image">
                                <img src="images/Rev JET.JPG">
                            </div>
                        </div>
                    
                    </div>
                </div>  
            </div>  
        </div>

        <div class="lower-container">
           <div class="latest-news">
            <h2>Latest News</h2>
           </div> 
            <div class="lower-flex">
                <div class="lower-flex1">
                    <div class="lower-flex1-grid1">
                        <div class="lower-flex1-img">
                            <img src="images/Rev Ansah.jpg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>

                        </div>
                    </div>
                    <div class="lower-flex1-grid2">
                        <div class="lower-flex1-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>

                        </div>
                    </div>
                    <div class="lower-flex1-grid3">
                        <div class="lower-flex1-img">
                            <img src="images/Rev JET.JPG">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>

                        </div>
                    </div>
                </div>

                <div class="upcoming-events">
                    <h2>Upcoming Events</h2>
                </div>

                <div class="lower-flex2">
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Rev Baah Nartey.JPG">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Prof.JPG">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                    <div class="lower-flex2-grid1">
                        <div class="lower-flex2-img">
                            <img src="images/Dad.jpeg">
                            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Temporibus quisquam nam repellendus iure eveniet doloribus.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
       
    </div>

</body>
<footer>
    <p>Copyright © 2024 PCG, CHRIST CONG. KNUST. All rights reserved. Developed by</p>
</footer>
</html>